# ===== macOS =====
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.fseventsd
.VolumeIcon.icns
.DocumentRevisions-V100
.TemporaryItems

# ===== Windows =====
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.cab
*.msi
*.stackdump

# ===== Linux =====
*~
.directory
.Trash-*
.nfs*
